# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcscmblueprint
DerivedData/

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Secrets
*.env
Config.plist
GoogleService-Info.plist
